<%- include("header.ejs") %>
    <div class="container fae-grimoire" id="edit-recipe">
        <%- include("../includes/flash.ejs") %>
        <form action="/fae-sparkles/edit-recipe/<%= recipe._id %>" method="post">
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control" id="title" value="<%= recipe.title %>">
            </div>
            <div class="form-group">
                <label>Cook Time</label>
                <select name="cookTime" id="cookTime">
                    <option value="Under 10 minutes" <%= recipe.cookTime === "Under 10 minutes" ? "selected" : "" %>>Under 10 minutes</option>
                    <option value="10-30 minutes" <%= recipe.cookTime === "10-30 minutes" ? "selected" : "" %>>10-30 minutes</option>
                    <option value="30-60 minutes" <%= recipe.cookTime === "30-60 minutes" ? "selected" : "" %>>30-60 minutes</option>
                    <option value="Over an hour" <%= recipe.cookTime === "Over an hour" ? "selected" : "" %>>Over an hour</option>
                </select>
            </div>
            <div class="form-group">
                <label>Food Type</label>
                <select name="foodType" id="foodType">
                    <option value="Appetizer" <%= recipe.foodType === "Appetizer" ? "selected" : "" %>>Appetizer</option>
                    <option value="Main Course" <%= recipe.foodType === "Main Course" ? "selected" : "" %>>Main Course</option>
                    <option value="Side Dish" <%= recipe.foodType === "Side Dish" ? "selected" : "" %>>Side Dish</option>
                    <option value="Dessert" <%= recipe.foodType === "Dessert" ? "selected" : "" %>>Dessert</option>
                    <option value="Snack" <%= recipe.foodType === "Snack" ? "selected" : "" %>>Snack</option>
                    <option value="Drink" <%= recipe.foodType === "Drink" ? "selected" : "" %>>Drink</option>
                </select>
            </div>
            <div class="form-group">
                <label>Ingredients</label>
                <div class="ingredients-list">
                    <div class="ingredient grid default">
                        <div class="amount col-3">Amount</div>
                        <div class="name col-9">Name</div>
                    </div>
                    <% recipe.ingredients.forEach(ingredient => { %>
                        <div class="ingredient grid">
                            <input type="text" class="form-control col-3 ingredient-amount" value="<%= ingredient.amount %>">
                            <input type="text" class="form-control col-8 ingredient-name" value="<%= ingredient.ingredient %>">
                            <button class="btn btn-remove-ingredient col-1">-</button>
                        </div>
                    <% }) %>
                </div>
                <div class="grid ingredient-btns">
                    <input type="text" class="form-control col-3 ingredient-amount main">
                    <input type="text" class="form-control col-9 ingredient-name main">
                    <button class="btn btn-add-ingredient">+</button>
                </div>
            </div>
            <div class="form-group">
                <label>Instructions</label>
                <textarea name="instructions" id="instructions" ><%= recipe.instructions %></textarea>
            </div>
            <div class="form-group">
                <label>Tags</label>
                <div class="form-tag-group form-control">
                    <% recipe.tags.forEach(tag => { %>
                        <div class="tag" onclick="this.remove()">
                            <span><%= tag %></span>
                            <button class="btn-remove-tag" onclick="this.parentElement.remove();">-</button>
                        </div>
                    <% }) %>
                    <input type="text" class="form-display-tags">
                </div>
            </div>
            
            <div class="form-group submit">
                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-cancel" data-href="/fae-sparkles/recipe/<%= recipe._id %>">Cancel</button>
                <button class="btn btn-submit">Update</button>
            </div>
        </form>
    </div>
</body>
<script src="/js/main-bundled.js"></script>
</html>