<%- include("header") %>
    <div class="container fae-grimoire">
        <%- include("../includes/flash.ejs") %>

        <div class="header">
            <a href="/fae-sparkles">
                <h1>Fae's Grimoire</h1>
            </a>
        </div>
        <div class="actions-wrapper">
            <button class="btn btn-add popup-btn form-add" data-popup-id="add-recipe">Add</button>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                <input type="submit" value="Logout" class="btn btn-submit">
            </form>
        </div>
        <div class="search-wrapper filter recipes-filter" data-index="0">
            <div class="filter-query-wrapper">
                <% searchTags.forEach(tag => { %>
                    <div class="filter-option-tag search-tag"><%= tag %></div>
                <% }) %>
                <div class="auto-complete-group">
                    <input 
                        type="text" 
                        id="filter" 
                        name="filter" 
                        class="filter-query search auto-complete" 
                        data-auto-complete-data="<%= JSON.stringify({ resultsContainer: 'results-container-0', data: allTags.concat(allIngredients) }) %>"
                        placeholder="Search for Recipes">
                    <div id="results-container-0" class="results-container no-select">
                        <ul class="results-list"></ul>
                    </div>
                </div>
            </div>
            <a class="btn btn-submit show-filters-btn"><i class="fas fa-filter"></i></a>
            <div class="filters-wrapper no-select">

                <div class="filter-option-group">
                    <h1 class="group-title">Food Type</h1>
                    <% allFoodTypes.forEach(foodType => { %>
                        <div class="filter-option">
                            <input type="checkbox" class="filter-checkbox" name="foodType" value="<%= foodType %>">
                            <label for="foodType"><%= foodType %></label>
                        </div>
                    <% }) %>
                </div>

                <div class="filter-option-group">
                    <h1 class="group-title">Cook Times</h1>
                    <% allCookTimes.forEach(cookTime => { %>
                        <div class="filter-option">
                            <input type="checkbox" class="filter-checkbox" name="cookTime" value="<%= cookTime %>">
                            <label for="cookTime"><%= cookTime %></label>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="wrapper recipes">
            <div class="recipe-list paginator filter-container" data-amount="4" data-page="1" data-index="0">
                <% recipes.forEach(recipe => { %>
                    <a class="recipe paginatee filtered" href="/fae-sparkles/recipe/<%= recipe._id %>">
                        <div class="title search-include">
                            <h2><%= recipe.title %></h2>
                        </div>
                        <div class="cook-time search-exclude">
                            <p><%= recipe.foodType + " - " + recipe.cookTime %></p>
                        </div>
                        <div class="tags search-include">
                            <ul>
                                <% recipe.tags.forEach(tag => { %>
                                    <li class="tag-link"><%= tag %></li>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="data-hidden search-include">
                            <div class="ingredients">
                                <ul>
                                    <% recipe.ingredients.forEach(ingredient => { %>
                                        <li><%= ingredient.amount %> <%= ingredient.ingredient %></li>
                                    <% }) %>
                                </ul>
                            </div>
                        </div>
                        <div class="createdDate search-exclude">
                            <%= new Date(recipe.createdDate).toLocaleString() %>
                        </div>
                    </a>
                <% }) %>
            </div>
            <div class="pagination" data-index="0" data-page="1" data-amount="4">
                <a class="pagination-link left" data-page="0"><i class="fas fa-chevron-left"></i></a>
                <a class="pagination-link right" data-page="0"><i class="fas fa-chevron-right"></i></a>            
            </div>
        </div>
    </div>
    Copyright 2023 ©
The content on this website, including text, images, and logos, is the property of this website and protected by copyright laws. Unauthorized use of any materials on this website may violate copyright laws.
</body>
<script src="/js/main-bundled.js"></script>
</html>