<%- include("header.ejs") %>
    <div class="container fae-grimoire">
        <%- include("../includes/flash.ejs") %>

        <div class="header">
            <h1>Fae's Grimoire</h1>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                <input type="submit" value="Logout" class="btn btn-submit">
            </form>
        </div>
        <div class="actions-wrapper">
            <button class="btn btn-add popup-btn form-add" data-popup-id="add-recipe">Add</button>
        </div>
        <div class="search-wrapper">
            <input type="text" class="search form-control" placeholder="Search">
        </div>
        <div class="wrapper">
            <% recipes.forEach(recipe => { %>
                <a class="recipe" href="/fae-sparkles/recipe/<%= recipe._id %>">
                    <div class="title">
                        <h2><%= recipe.title %></h2>
                    </div>
                    <div class="cook-time">
                        <p><%= recipe.cookTime %></p>
                    </div>
                    <div class="tags">
                        <ul>
                            <% recipe.tags.forEach(tag => { %>
                                <li><%= tag %></li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="createdDate">
                        <%= new Date(recipe.createdDate).toLocaleString() %>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
</body>
<script src="/js/main-bundled.js"></script>
</html>